{% load staticfiles %}
<html>
    <head>
        <meta charset="utf-8" />
        <title>LTL Trans</title>
        <script src="{% static "ltltrans/js/jquery.min.js" %}"></script>
        <script src="{% static "ltltrans/js/js.cookie.js" %}"></script>
        <script src="{% static "ltltrans/js/ltltrans.js" %}"></script>
    </head>
    <link rel='stylesheet' href="{% static "ltltrans/style/main.css" %}"/>
    <body>
        <div class='central-div'>
            <h1 class='main-title'>LTL Trans</h1>
            <h2 class='slogan'>A study aide so you can understand what your LTL means in plain English.</h2>
            <form>{% csrf_token %}
                <div class='form'>
                    <div class='cols'>
                        <div class='label-cont'>
                            <p class='label'>Subject</p>
                        </div>
                        <div>
                            <select id='prop-select'>
                                {% for pg in propositions %}
                                <option value="{{ forloop.counter0 }}" 
                                    data-example-formula="{{ pg.example.formula }}" 
                                    data-example-sentence="{{ pg.example.sentence }}">
                                    {% for p in pg.propositions %}
                                    {{ p.letter }} = '{{ p.sentence }}'{% if not forloop.last %},{% endif %}
                                    {% endfor %}
                                </option>
                                {% endfor %}
                            </select>
                            <button id='add_subj_button'>+</button>
                        </div>
                    </div>
                    <div id='add_subj_cont' class='cols'>
                        <div></div>
                        <div id='add_subj_cell'>
                            <p class='body'><b>Subject:</b> <span id='prop_list' class='uninitialized'>(add propositions)</span></p>
                            <div id='prop_spec_cont'>
                                <label><b>Proposition:</b></label>
                                <input type='text' id='symbol_input' placeholder='r' />
                                <input type='text' id='subject_input' placeholder='the robot' />
                                <input type='text' id='verb_input' placeholder='flash' />
                                <input type='text' id='object_input' placeholder='the LED' />
                                <button id='add_prop_button'>Add</input>
                            </div>
                            <button id='save_subj_button'>Save Subject</button>
                            <button id='cancel_subj_button'>Cancel</button>
                        </div>
                    </div>
                    <div class='cols'>
                        <div class='label-cont'>
                            <p class='label'>LTL</p>
                        </div>
                        <div>
                            <textarea id='ltl-input' rows=1 placeholder='{{ ltl }}'></textarea>
                            <p id='key'>
                                <b>Key:</b>
                                (<code>-&gt;</code>: <span class='operator'>IMPLIES</span>)
                                (<code>^</code>: <span class='operator'>AND</span>)
                                (<code>v</code>: <span class='operator'>OR</span>)
                                (<code>~</code>: <span class='operator'>NOT</span>)
                            </p>
                        </div>
                    </div>
                    <div class='cols'>
                        <div class='label-cont'>
                            <p class='label'>English</p>
                        </div>
                        <div>
                            <textarea id='text-input' placeholder='{{ text }}'></textarea>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </body>
</html>
