{% load staticfiles %}
<html>
    <head>
        <meta charset="utf-8" />
        <title>LTL Trans</title>
        <script src="{% static "ltltrans/js/jquery.min.js" %}"></script>
        <script src="{% static "ltltrans/js/js.cookie.js" %}"></script>
        <script src="{% static "ltltrans/js/ltltrans.js" %}"></script>
    </head>
    <link rel='stylesheet' href="{% static "ltltrans/style/main.css" %}"/>
    <body>
        <div class='central-div'>
            <h1 class='main-title'>LTL Trans</h1>
            <h2 class='slogan'>A study aide so you can understand what your LTL means in plain English.</h2>
            <form>{% csrf_token %}
                <div class='form'>
                    <div class='cols'>
                        <div class='label-cont'>
                            <p class='label'>Subject</p>
                        </div>
                        <div>
                            <select id='prop-select' value=0>
                                {% for pg in propositions %}
                                <option value="{{ forloop.counter0 }}" 
                                    data-example-formula="{{ pg.example.formula }}" 
                                    data-example-sentence="{{ pg.example.sentence }}">
                                    {% for p in pg.propositions %}
                                    {{ p.letter }} = '{{ p.sentence }}'{% if not forloop.last %},{% endif %}
                                    {% endfor %}
                                </option>
                                {% endfor %}
                            </select>
                            <button id='add_subj_button'>+</button>
                        </div>
                    </div>
                    <div id='add_subj_cont' class='cols'>
                        <div></div>
                        <div id='add_subj_cell'>
                            <p class='body'><b>Subject:</b> <span id='prop_list' class='uninitialized'>(add propositions)</span></p>
                            <div id='prop_spec_cont'>
                                <label><b>Proposition:</b></label>
                                <input type='text' id='symbol_input' placeholder='r' />
                                <input type='text' id='subject_input' placeholder='the robot' />
                                <input type='text' id='verb_input' placeholder='flash' />
                                <input type='text' id='object_input' placeholder='the LED' />
                                <button id='add_prop_button'>Add</button>
                                <p id='prop-error-text'>Propositions must be an alphabetic letter, and cannot be any of {G, F, X, U}.
                            </div>
                            <button id='save_subj_button'>Save Subject</button>
                            <button id='cancel_subj_button'>Cancel</button>
                        </div>
                    </div>
                    <div class='cols'>
                        <div class='label-cont'>
                            <p class='label'>LTL</p>
                        </div>
                        <div>
                            <textarea id='ltl-input' rows=1 placeholder='{{ ltl }}'></textarea>
                            <p id='ltl-update-text' class='update_text'>Updating...</p>
                            <p id='ltl-error-text' class='error_text'>Bad LTL</p>
                            <img id='ltl-success-img' class='success_img' src="{% static "ltltrans/img/check.png" %}"/>
                            <p id='key'>
                                <b>Key:</b>
                                (<code>-&gt;</code>: <span class='operator'>IMPLIES</span>)
                                (<code>^</code>: <span class='operator'>AND</span>)
                                (<code>v</code>: <span class='operator'>OR</span>)
                                (<code>~</code>: <span class='operator'>NOT</span>)
                            </p>
                        </div>
                    </div>
                    <div class='cols'>
                        <div class='label-cont'>
                            <p class='label'>English</p>
                        </div>
                        <div>
                            <textarea id='text-input' placeholder='{{ text }}'></textarea>
                            <p id='text-update-text' class='update_text'>Updating...</p>
                            <p id='text-error-text' class='error_text'>English could not be parsed.</p>
                            <img id='text-success-img' class='success_img' src="{% static "ltltrans/img/check.png" %}"/>
                        </div>
                    </div>
                    <div class='cols'>
                        <div class='label-cont'></div>
                            <div>
                                <button id='report_button'>Report Bad / Failed Translation</button>
                                <div id='report-details-cont'>
                                <label id='cause-label'>Cause:</label>
                                <select id='cause-select'>
                                    <option value='bad-ltl'>I'm not satisifed with the LTL produced</option>
                                    <option value='bad-english'>I'm not satisfied with the English produced</option>
                                </select>
                                <input type='text' id='suggestion-text' placeholder="Suggest a better translation"/>
                                <button id='submit_report_button'>Submit</button>
                            </div>
                            <p id='thanks-text'>Thank you!</p>
                            <p id='contact-text'><a href="mailto:ltltranslator@gmail.com">Contact the authors</a></p>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </body>
</html>
