.main-title {
  font-family: Helvetica, sans-serif;
  font-size: 64px;
  margin: 20px auto;
}

.slogan {
  font-style: italic;
}

.central-div {
  margin: 0px auto;
  margin-top: 120px;
  width: 60%;
  max-width: 800px;
}

#add_subj_cont {
  display: none;
  margin-bottom: 20px;
}

#add_subj_cell {
  border: 1px dashed grey;
  padding: 10px 15px;
}

#add_subj_cont.show {
  display: table-row;
}

h2, h3, h4, h5, h6 {
  margin-top: 20px;
}

h2 {
  font-size: 20px;
}

p, h2, h3, h4, h5, h6, li, label, select, textarea {
  font-family: Helvetica, sans-serif;
  line-height: 1.3em;
}

p, li, select, textarea, button {
  font-size: 16px;
}

p.label {
  margin: 0;
  font-size: 20px;
  text-align: right;
  padding-right: 20px;
  line-height: 1em;
}

p#key {
  margin: 0;
  margin-top: 5px;
  font-size: 14px;
}

span.operator {
  display: inline-block;
}

span.operator:first-letter {
  font-size: 15px;
}

p#key code {
  font-family: "Lucida Console";
}

p.body {
  margin-top: .5ex;
  margin-bottom: .5ex;
}

#prop-select {
  width: 90%;
}

select option {
  padding: 5px;
}

#add_subj_button {
  width: 9%;
}

#prop_list.uninitialized {
  color: grey;
}

input[type='text'] {
  font-size: 16px;
  margin-right: 5px;
  margin-bottom: 5px;
}

input[type='text']:first-of-type {
  margin-left: 5px;
}

#symbol_input {
  width: 1em;
}

#subject_input, #verb_input, #object_input {
  width: 8em;
}

#save_subj_button {
  width: 80%;
  margin-bottom: 5px;
}

#cancel_subj_button {
  width: 16%;
  margin-bottom: 5px;
}

textarea#ltl-input {
  font-size: 36px;
}

textarea {
  padding: 5px;
  width: 100%;
}

p.error_text, p.update_text {
  position: absolute;
  top: 0px;
  right: 5px;
  font-size: 20px;
  display: none;
}

p.update_text {
  color: grey;
}

p.error_text {
  color: #ff5555;
}

.success_img {
  position: absolute;
  top: 20px;
  right: 5px;
  display: none;
  width: 20px;
}

#report_button {
  margin-top: 20px;
  color: #444444;
  width: 100%;
}

#report-details-cont {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 1px dashed grey;
  padding: 10px;
  display: none;
}

#cause-select {
  width: 90%;
}

#suggestion-text {
  width: 98%;
}

#submit_report_button {
  width: 100%;
}

#thanks-text {
  background-color: #eeeeff;
  border: 1px dashed grey;
  text-align: center;
  display: none;
}

#contact-text {
  margin-top: 5px;
  text-align: center;
}

#contact-text a {
  color: #7777ff;
}

div.form {
  display: table;
  width: 100%;
}

div.cols {
  display: table-row;
}

div.cols > div:nth-child(1) {
  display: table-cell;
  width: 15%;
}

div.label-cont {
  vertical-align: middle;
}

div.cols > div:nth-child(2) {
  display: table-cell;
  position: relative;
  padding: 10px 0;
  vertical-align: middle;
  width: 85%;
}
